/**
 * src/common.scss
 * Common SASS
 */
div.tooltip {
  position: absolute;
  border: solid 1px #ceccd0;
  background: #faf8f9;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: #344653;
  font-size: 12px;
  text-align: left;
  padding: 10px;
  border-radius: 4px;
  line-height: 18px;
  pointer-events: none;
  max-width: 125px;
}

div.tooltip > div.key {
  font-weight: 600;
  padding-bottom: 5px;
}

div.tooltip > div.value {
  font-weight: normal;
  font-style: italic;
}

.axis path, .axis line {
  fill: none;
  stroke: #999;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  fill: #555;
  pointer-events: none;
}

.axis text.hidden {
  visibility: hidden;
}

text.x-axis-label, text.y-axis-label {
  font-family: sans-serif;
  fill: #555;
  pointer-events: none;
}

text.legend-text {
  cursor: pointer;
}
